/* Reset default styles and set global font */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1em;
  align-items: center;
  padding: 1.5em 2em;
  border-bottom: 1px solid #e6e6e6;
}

i {
  font-size: 1.2rem;
}

.navbar a {
  color: black;
  font-size: 0.9rem;
}

.logo a {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.navbar-item1 {
  display: flex;
  gap: clamp(1em, 1.4em, 2em);
  align-items: center;
}

.navbar-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: clamp(0.5em, 1em, 1.2em);
  font-size: 2rem;
  text-align: center;
}

.navbar-item2 a {
  font-weight: 600;
  display: block;
}

.navbar-item2 button {
  color: rgb(43, 41, 164);
  padding: 1.2em 1.8em;
  border: none;
  outline: none;
  background-color: rgb(217, 217, 244);
  border-radius: 30px;
  font-weight: 600;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;
  align-items: center;
  gap: 3em;
  margin: 4em 4em 8em;
}

.hero-section-text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero-section-text h1 {
  font-size: clamp(1em, 4vw + 1rem, 3.5rem);
  font-weight: 800;
  max-width: 100%;
  line-height: 1.1em;
}

/* hover effect for the brand name in the hero section */
.brand-name:hover {
  background: linear-gradient(
    45deg,
    #3e3bce 0%,
    #3e3bce 50%,
    #8a2be2 80%,
    /* Royal purple */ #c77dff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.hero-section-text p {
  font-size: clamp(1em, 4vw + 1rem, 1rem);
  font-weight: 450;
  line-height: 1.3em;
  max-width: 100%;
  color: rgb(97, 96, 96);
}

.main_btn button {
  color: white;
  padding: 1.2em 2em;
  border: none;
  outline: none;
  background-color: #3e3bce;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.main-image img {
  max-width: 100%;
  border-radius: 5px;
}

.info-section {
  display: grid;
  gap: clamp(1em, 1.5em, 2em);
}

.info-header {
  display: grid;
  align-items: center;
}

.info-header h1 {
  max-width: 100%;
  text-align: center;
  font-size: clamp(0.9em, 4vw + 0.9rem, 3rem);
  font-weight: 750;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1em;
  margin-right: clamp(0em, 1.5em, 2em);
  margin-left: clamp(0em, 1.5em, 2em);
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5em;
}

.info-card h2 {
  font-size: clamp(1em, 4vw + 1rem, 1.5rem);
}

.info-card div i {
  font-size: 1.5rem;
  background-color: #3e3bce;
  padding: 0.5em;
  color: white;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.info-card div i:hover {
  cursor: pointer;
  transform: translateY(-5px); /* Moves the icon upward on hover */
}

.info-card p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(97, 96, 96);
}

.spending-tracking-section {
  display: grid;
  max-width: 95%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  margin-top: clamp(2em, 4vw, 4em);
  gap: 1em;
}

.spending-tracking-section .img {
  max-width: clamp(50%, 4vw, 90%);
}

.spending-tracking-section .img img {
  max-width: 100%;
}

.spending-tracking-section .spending-tracking-text h1 {
  font-size: clamp(1em, 4vw + 1rem, 2.5rem);
  font-weight: 700;
  margin-bottom: 0.6em;
}

.spending-tracking-section .spending-tracking-text p {
  font-size: 1rem;
  margin-bottom: 1em;
}

.spending-features-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3em;
  font-size: 1rem;
  gap: 1em;
}

.spending-features-list p {
  margin-bottom: 0% !important;
}

#check-mark {
  color: green;
}

/* credit card section styles */
.credit-card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto; /* Default: 1 row */
  align-items: center;
  margin: 2em auto 0;
  gap: 2em;
}

.credit-card-img {
  max-width: 100%;
}

.credit-card-img img {
  max-width: 100%;
}

.credit-card-section div h1 {
  font-size: clamp(1.2rem, 4vw + 1.2rem, 2.8rem);
  margin-bottom: 0.6em;
}

.credit-card-section div p {
  max-width: 100%;
  margin-bottom: 1.6em;
}

/* Sign in Prompt section styles */
.signin-prompt-section {
  display: grid;
}

.signin-prompt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  background-color: rgb(9, 9, 23);
  padding: clamp(1.5em, 4cqw, 4em);
  font-size: clamp(1.25rem, 3vw, 2rem);
  color: white;
}

.signin-prompt-btn {
  margin-top: clamp(2em, 6vw, 6em); /* Responsive margin */
  color: white;
  padding: 1.2em 1.8em;
  border: none;
  outline: none;
  background-color: rgb(12, 167, 51);
  border-radius: 30px;
  font-weight: 500;
}

/* Footer styles */
footer {
  background-color: #e6e6e6; /* Light tinted gray background */
  color: #000000; /* Updated text color */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 4em;
  background-color: #1a1a1a; /* Dark background color */
  color: #f1f1f1; /* Light text color */
  gap: 2em;
}

.footer-brand {
  flex: 1;
  text-align: center;
  margin-bottom: 2em;
}

.footer-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.social-icons-container .social-icon {
  color: #ffffff;
  background-color: #333333;
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icons-container .social-icon:hover {
  cursor: pointer;
  background-color: #007bff;
  transform: translateY(-5px); /* Moves the icon upward on hover */
}

.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  gap: 2em;
}

.footer-link-item {
  flex: 1;
}

.footer-link-item h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
  color: #ffffff;
}

.footer-link-item ul {
  list-style: none;
  padding: 0;
}

.footer-link-item ul li {
  margin-bottom: 0.5em;
}

.footer-link-item ul li a {
  font-size: 0.8rem;
  font-weight: 600;
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link-item ul li a:hover {
  color: #007bff;
}

.footer-link-item h1 {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 1em; */
}

.footer-copyright {
  text-align: center;
  padding: 1em 0;
  background-color: #111111;
  color: #cccccc;
  font-size: 0.9rem;
}

.footer-copyright-text {
  font-weight: 500;
  color: #696969; /* Updated text color */
}

.footer-copyright-signature {
  margin-top: 1em;
  font-family: "Silkscreen", sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 1259px) {
  .spending-tracking-img {
    max-width: 98%;
  }
  .spending-tracking-img img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .hero-section {
    margin: 2em 2.2em 4em;
  }

  .info-header {
    max-width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 992px) {
  .navbar a {
    text-wrap: nowrap;
  }

  .hero-section h1 {
    font-size: clamp(1em, 4vw + 1rem, 2.8rem);
  }

  .spending-tracking-section {
    padding: 2em 1.6em;
  }

  .spending-tracking-img {
    max-width: 100%;
  }

  .spending-tracking-img img {
    max-width: 100%;
  }

  .credit-card-section {
    padding: 2em 1.6em;
  }

  .credit-card-img {
    max-width: 100%;
  }
  .credit-card-img img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 898px) {
  .navbar {
    gap: clamp(1em, 1.8em, 2em);
    padding: clamp(0.8em, 1.1em, 1.5em) clamp(0.6em, 1em, 1.2em);
  }

  .navbar-item1 {
    gap: clamp(0.6em, 1em, 1.2em);
  }

  .navbar-item2 {
    gap: clamp(0.3em, 0.5em, 0.8em);
  }
}

@media only screen and (max-width: 840px) {
  .navbar-item1 {
    gap: clamp(0.6em, 0.5em, 1.2em);
  }

  .navbar-item2 {
    gap: clamp(0.3em, 0.5em, 0.8em);
  }
}

@media only screen and (max-width: 840px) {
  .menu {
    max-width: 97%;
    margin: auto;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 1em;
    border-bottom: 1px solid #e6e6e6;
  }

  .navbar-item1,
  .navbar-item2 {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger {
    float: right;
    font-size: 1.5rem;
    padding: 0.6em;
    border-radius: 50px;
    color: white;
    border: none;
    outline: none;
    background-color: #3e3bce;
  }

  .hero-section-text h1 {
    font-size: clamp(1em, 4vw + 1rem, 2.8rem);
  }

  .hero-section-text p {
    font-size: clamp(1em, 4vw + 1rem, 0.9rem);
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .hero-section {
    margin: 1em 0 2em;
    padding: 2rem 0.9rem;
  }

  .hero-section-text h1 {
    font-size: clamp(1em, 4vw + 1rem, 2.5rem);
  }

  .hero-section-text p {
    font-size: clamp(1em, 4vw + 1rem, 0.9rem);
  }

  .info-header h1 {
    font-size: clamp(1em, 4vw + 1rem, 2.4rem);
  }

  .spending-tracking-section {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Adjust based on your row setup */
    max-width: 90%;
    margin: auto;
    padding: 0;
    gap: 1em;
  }

  .spending-tracking-text:nth-child(1) {
    grid-row: 2;
  }

  .spending-tracking-img:nth-child(2) {
    grid-row: 1;
  }

  .spending-tracking-text {
    padding-left: 0;
  }

  .spending-tracking-img {
    max-width: 70%;
    margin: auto;
  }

  .spending-tracking-img img {
    max-width: 100%;
  }

  .credit-card-section {
    display: grid;
    grid-template-rows: 1fr; /* Ensure only one row */
    grid-template-columns: 1fr; /* Stack items in a single column */
    gap: 1em; /* Adjust gap as needed */
    max-width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 2em;
  }

  .credit-card-img {
    max-width: 70%;
    margin: auto;
  }

  .credit-card-img img {
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 2em;
  }

  .footer-brand {
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .hero-section {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Adjust based on your row setup */
    max-width: 90%;
    margin: auto;
    gap: 1em;
  }

  .hero-section-text:nth-child(1) {
    grid-row: 2;
  }

  .main-image:nth-child(2) {
    grid-row: 1;
  }

  .main-image {
    max-width: 70%;
    margin: auto;
  }

  .hero-section-text {
    text-align: center;
  }

  .main_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .info-section{
    margin-top: 2em;
  }

  .info-container{
    gap: 2em;
  }

  .info-card {
    align-items: center;
    text-align: center;
  }
  
}
