* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

li i{
  color: green;
  margin-right: 0.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
}

nav .nav2 a {
  color: black;
  font-size: 0.9rem;
}

nav .nav1 a {
  font-size: 0.9rem;
  color: black;
}

.logo a {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}

.nav1 {
  display: flex;
  gap: 2em;
  align-items: center;
}

.nav2 {
  display: flex;
  gap: 1em;
  align-items: center;
}

.nav2 a {
  font-weight: 550;
}

.nav2 button {
  color: rgb(43, 41, 164);
  padding: 1.2em 1.8em;
  border: none;
  outline: none;
  background-color: rgb(217, 217, 244);
  border-radius: 30px;
  font-weight: 600;
}

i {
  font-size: 1.2rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 1em;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.main-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  max-width: 60%;
  line-height: 1.1em;
}

.main-text p {
  font-size: 1rem;
  font-weight: 450;
  max-width: 35%;
  color: rgb(97, 96, 96);
}

.main_btn button {
  color: white;
  padding: 1.2em 1.8em;
  border: none;
  outline: none;
  background-color: rgb(43, 41, 164);
  border-radius: 30px;
  font-weight: 500;
}

.main-image {
  max-width: 30%;
}

.main-image img {
  max-width: 100%;
}

.info_section {
  margin-top: 8em;
  margin-bottom: 10em;
}

.info_header {
  max-width: 100%;
  margin: 4em;
}

.info_header h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 45%;
  margin: auto;
  font-weight: 750;
}

.info_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 3em auto;
}

.info1{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info1 div i {
  font-size: 1.5rem;
  background-color: rgb(43, 41, 164);
  padding: 0.5em;
  color: white;
  border-radius: 10px;
}

.info1 h1{
  font-size: 1.2rem;
}

.info1 p{
  font-size: 0.9rem;
  max-width: 70%;
  color: rgb(97, 96, 96);
}

.info2{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info2 div i {
  font-size: 1.5rem;
  background-color: rgb(43, 41, 164);
  padding: 0.5em;
  color: white;
  border-radius: 10px;
}

.info2 h1{
  font-size: 1.2rem;
}

.info2 p{
  font-size: 0.9rem;
  max-width: 70%;
  color: rgb(97, 96, 96);
}

.info3{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info3 div i {
  font-size: 1.5rem;
  background-color: rgb(43, 41, 164);
  padding: 0.5em;
  color: white;
  border-radius: 10px;
}

.info3 h1{
  margin-top: 0.5em;
  font-size: 1.2rem;
}

.info3 p{
  font-size: 0.9rem;
  max-width: 70%;
  color: rgb(97, 96, 96);
}

.ln1{
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.ln1 div{
  max-width: 50%;
}

.ln1 div img{
  max-width: 100%;
}

.ln1 div h1{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.ln1 div p{
  font-size: 0.9rem;
  margin-bottom: 1.7em;
  max-width: 58%;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-bottom: 3em;
}

ul li{
  font-size: 0.9rem;
}

.ln2{
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 2em auto;
  gap: 2em;
}

.ln2 div{
  max-width: 100%;
}

.ln2 div img{
  max-width: 100%;
}

.ln2 div h1{
  font-size: 3rem;
  max-width: 60%;
  margin-bottom: 0.6em;
}

.ln2 div p{
  max-width: 60%;
  margin-bottom: 1.6em;
}

.title_bar{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(9, 9, 23);
  padding: 4em;
  font-size: 2rem;
  color: white;
  margin-bottom: 4em;
}

.green{
  margin: 6em 0 0 0;
  color: white;
  padding: 1.2em 1.8em;
  border: none;
  outline: none;
  background-color: rgb(12, 167, 51);
  border-radius: 30px;
  font-weight: 500;
}

.foot_flex{
  display: flex;
  align-items: start;
  gap: 6em;
}

.ff1{
  margin: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-right: 6em;
}

.foot_flex .logo{
  font-size: 2.5rem;
}

.logo_flex{
  display: flex;
  gap: 1em;
  justify-content: center;
}

.logo_flex div i{
  font-size: 0.8rem;
  color: white;
  background-color: black;
  padding: 0.6em;
  border-radius: 50px;
}

.ff2{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.ff2 div{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cr{
  max-width: 100%;
  text-align: center;
  margin: 5em;
}